.card-clients-5__dp{
    position: absolute;
    display: inline;
    border-radius: 100%;
    width: 4rem;
    border: 2px solid rgba(255, 255, 255, 0.7);
    right: 1rem;
    margin: auto;
    bottom: 4rem;
}